<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block basestylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='persona-buttons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.0.3/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript" src="//use.typekit.net/fwl3lfi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% endblock %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          {% block content %}{% endblock %}
        </div>

        <footer class="panel-footer">
          <p><a id="signin" style="display: none" href="#signin" class="persona-button"><span>Sign in with your Email</span></a></p>
          {% if g.email %}
          <p>Hi {{g.email}}</p>
          {% endif %}
          <p><a id="signout" style="display: none" href="#signout" class="persona-button"><span>Sign out</span></a></p>
        </footer>

      </div>
    </div>
    {% block basejs %}
    <script src="https://login.persona.org/include.js"></script>
    <script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>

    <script src="{{ url_for('static', filename='bootstrap-3.0.3/js/bootstrap.min.js') }}"></script>


    <script>
        console.log("pre-ready");
        $(function() {
            console.log("ready");
            // $("#signin").hide();
            // $("#signout").hide();

            var signinLink = document.getElementById('signin');
            if (signinLink) {
                signinLink.onclick = function() { navigator.id.request(); };
            }

            var signoutLink = document.getElementById('signout');
            if (signoutLink) {
                signoutLink.onclick = function() { navigator.id.logout(); };
            }


            var currentUser = {% if not g.email %}null{% else %}'{{g.email}}'{% endif%};
            // $.ajax({
            //   type: "GET",
            //   url: "/auth/whoami/",
            //   async: false,
            //   success: function(data) {
            //     currentUser = data.email;
            //   }
            // })
            console.log("current user", currentUser);

            if (currentUser === null) {
              $("#signin").show();
            } else {
              $("#signout").show();
            }

            navigator.id.watch({
              loggedInUser: currentUser,
              onlogin: function(assertion) {
                // A user has logged in! Here you need to:
                // 1. Send the assertion to your backend for verification and to create a session.
                // 2. Update your UI.
                $.ajax({ /* <-- This example uses jQuery, but you can use whatever you'd like */
                  type: 'POST',
                  url: '/auth/login/', // This is a URL on your website.
                  data: {assertion: assertion},
                  success: function(res, status, xhr) { window.location.reload(); },
                  error: function(xhr, status, err) {
                    navigator.id.logout();
                    alert("Login failure: " + err);
                  }
                });
              },
              onlogout: function() {
                // A user has logged out! Here you need to:
                // Tear down the user's session by redirecting the user or making a call to your backend.
                // Also, make sure loggedInUser will get set to null on the next page load.
                // (That's a literal JavaScript null. Not false, 0, or undefined. null.)
                $.ajax({
                  type: 'POST',
                  url: '/auth/logout/', // This is a URL on your website.
                  success: function(res, status, xhr) { window.location.reload(); },
                  error: function(xhr, status, err) { alert("Logout failure: " + err); }
                });
              }
            });
        });
    </script>
    {% endblock %}
    {% block extrajs %}{% endblock %}
  </body>
</html>
