{% extends "base.html" %}

{% block title %}{{gamecraft.title}} - Create a Game{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('gamecraft', gamecraft=gamecraft.id) }}">{{gamecraft.title}}</a></li>
  <li class="active">Create Game</li>
</ul>

<h1>{{gamecraft.title}} - Create a Game</h1>

<form action="{{ url_for('create_game', gamecraft=gamecraft.id) }}" method="POST">
    {% include "game_form.html" %}
</form>

{% endblock %}
