{% extends "base.html" %}

{% block title %}Delete Screenshot from {{game.title}}{% endblock %}

{% import "macros.html" as macros%}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('gamecraft', gamecraft=gamecraft.id) }}">{{gamecraft.title}}</a></li>
  <li><a href="{{ url_for('game', gamecraft=gamecraft.id, game=game.pk) }}">{{game.title}}</a></li>
  <li class="active">Delete Screenshot</li>
</ul>

<h1>Delete screenshot from {{game.title}}</h1>

<p>{{screenshot.title}}</p>
{% if screenshot.description %}<div>{{screenshot.description|markdown}}</div>{% endif %}
<p><img class="img-thumbnail" src="{{screenshot.url}}"></p>

<form action="{{ url_for('delete_screenshot', gamecraft=gamecraft.id, game=game.id, screenshot=screenshot.id) }}" method="POST" enctype="multipart/form-data">
    <fieldset>
    {{ form.csrf_token }}
    {{ macros.render_field(form.confirm, placeholder="Type yes here") }}
    <button type="submit" class="btn btn-default">Delete</button>
</fieldset>

</form>

{% endblock %}
