{% extends "base.html" %}

{% block title %}Delete {{game.title}}{% endblock %}

{% import "macros.html" as macros%}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('gamecraft', gamecraft=gamecraft.id) }}">{{gamecraft.title}}</a></li>
  <li class="active">Delete {{game.title}}</li>
</ul>

<h1>Delete {{game.title}}</h1>

{% if game.description %}<div>{{game.description|markdown}}</div>{% endif %}

<form action="{{ url_for('delete_game', gamecraft=gamecraft.id, game=game.id) }}" method="POST">
    <fieldset>
    {{ form.csrf_token }}
    {{ macros.render_field(form.confirm, placeholder="Type yes here") }}
    <button type="submit" class="btn btn-default">Delete</button>
</fieldset>

</form>

<!-- Is admin? {{ g.admin }} -->

{% endblock %}
