{% extends "base.html" %}

{% block title %}Edit {{game.title}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('gamecraft', gamecraft=gamecraft.id) }}">{{gamecraft.title}}</a></li>
  <li><a href="{{ url_for('game', gamecraft=gamecraft.id, game=game.pk) }}">{{game.title}}</a></li>
  <li class="active">Edit</li>
</ul>

<h1>Edit {{game.title}}</h1>

<form action="{{ url_for('edit_game', gamecraft=gamecraft.id, game=game.pk) }}" method="POST">
    {% include "game_form.html" %}
</form>

{% endblock %}
