{% extends "base.html" %}

{% block title %}{{game.title}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('gamecraft', gamecraft=gamecraft.id) }}">{{gamecraft.title}}</a></li>
  <li class="active">{{game.title}}</li>
</ul>


<div class="panel panel-default">

    <div class="panel-heading"><h1>{{game.title}}</h1></div>

    <div class="panel-body">

        <div>
        {{game.description | markdown}}
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h2>Screenshots</h2></div>
            <div class="panel-body">
                <div class="row">
                    {% for screenshot in game.screenshots %}
                    <div class="col-lg-3">
                        <div class="thumbnail">
                            <a href="{{screenshot.url}}">
                            <img class="img-thumbnail" src="{{screenshot.thumbnail_url}}">
                            <div class="caption">
                                <h4>{{screenshot.title}}</h4>
                                {% if screenshot.description %}<div>{{screenshot.description|markdown}}</div>{% endif %}
                                {% if game.can_delete(g.email, g.admin) %}
                                    <p><a class="btn btn-danger" href="{{ url_for('delete_screenshot', gamecraft=gamecraft.id, game=game.id, screenshot=screenshot.id) }}">Delete Screenshot</a></p>
                                {% endif %}
                            </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        {% if game.can_edit(g.email, g.admin) %}
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Edit Game</h2></div>
            <div class="panel-body">
                <p><a class="btn btn-success" href="{{ url_for('edit_game', gamecraft=gamecraft.id, game=game.id) }}">Edit</a></p>
                <p><a class="btn btn-success" href="{{ url_for('upload_screenshot', gamecraft=gamecraft.id, game=game.id)}}">Upload a screenshot</a></p>
                {% if game.can_delete(g.email, g.admin) %}
                <p><a class="btn btn-danger" href="{{ url_for('delete_game', gamecraft=gamecraft.id, game=game.id)}}">Delete your game</a></p>
                {% endif %}
            </div>
        </div>
        {% elif not game.get_gamecraft().readonly %}
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Want to Edit This Game?</h2></div>
            <div class="panel-body">
                <p>Sign in below to edit this game or upload screenshots.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
