{% extends "base.html" %}

{% block title %}{{gamecraft.title}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li class="active">{{gamecraft.title}}</li>
</ul>

<h1>{{gamecraft.title}}</h1>

<div>
{{gamecraft.description | markdown}}
</div>

<h2>Games</h2>
<ul>
{% for game in gamecraft.games %}
<li><a href="{{ url_for('game', gamecraft=gamecraft.id, game=game.pk) }}">{{game.title}}</a></li>
{% else %}
<p>No games submitted yet!</p>
{% endfor %}
</ul>

{% if not gamecraft.readonly %}
<h2>Create a game</h2>
<p>Participating in Gamecraft? Then to get judged you need to create a game here. This will become your game's page where you can update the description and upload screenshots. Screenshots are really important, since judges have a really bad memory :)</p>
{% if g.authenticated %}
<p><a class="btn btn-success" href="{{ url_for('create_game', gamecraft=gamecraft.id) }}">Create a game here</a></p>
{% else %}
<p>You need to signin (link below) to create a game</p>
{% endif %}
{% endif %}

{% endblock %}
