{% include "macros.html" %}

{% import "macros.html" as macros%}

<fieldset>
    {{ form.csrf_token }}
    {{ macros.render_field(form.title, placeholder='My Super Game') }}
    {{ macros.render_field(form.description, placeholder='Write about your game here') }}
    {{ form.owners }}
    {{ form.gamecraft }}
    <button type="submit" class="btn btn-default">Submit</button>
</fieldset>
