{% extends "base.html" %}

{% block title %}GameCraft{% endblock %}

{% block content %}

<div class="panel">
    <div class="panel-body">
        <div class="jumbotron">
            <img src="{{ url_for('static', filename='gamecraft-150.png') }}" class="pull-left">
            <h1>Global GameCraft</h1>
            <p>List of games from our crafty 1-day game jams.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h2>Gamecrafts</h2></div>
                    <div class="panel-body">
                        <ul>
                        {% for gamecraft in gamecrafts %}
                            <li><h3><a href="{{ url_for('gamecraft', gamecraft=gamecraft.id) }}">{{gamecraft.title}}</a></h3></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/GlobalGameCraft" data-widget-id="409353941990649856">Tweets by @GlobalGameCraft</a>
            </div>
        </div>
    </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
