{% macro render_field(field, placeholder) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{field.name}}" {% if field.errors %}class="control-label"{% endif %}>{{field.label}}</label>
    {{ field(class_='form-control', placeholder=placeholder, rows='15') }}
    <p class="help-block">{{field.description}}</p>
    {% for error in field.errors %}
    <p class="help-block">{{error}}</p>
    {% endfor %}
</div>
{% endmacro %}
