{% extends "base.html" %}

{% block title %}Upload a screenshot to {{game.title}}{% endblock %}

{% import "macros.html" as macros%}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('gamecraft', gamecraft=gamecraft.id) }}">{{gamecraft.title}}</a></li>
  <li><a href="{{ url_for('game', gamecraft=gamecraft.id, game=game.pk) }}">{{game.title}}</a></li>
  <li class="active">Upload Screenshot</li>
</ul>

<h1>Upload a screenshot to {{game.title}}</h1>

<form action="{{ url_for('upload_screenshot', gamecraft=gamecraft.id, game=game.id) }}" method="POST" enctype="multipart/form-data">
    <fieldset>
    {{ form.csrf_token }}
    {{ macros.render_field(form.screenshot) }}
    {{ macros.render_field(form.title, placeholder="Image title")}}
    {{ macros.render_field(form.description, placeholder="Add some description here") }}
    <button type="submit" class="btn btn-default">Submit</button>
</fieldset>

</form>

{% endblock %}
